
  @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');



:root{
    font-family: 'Inria Sans', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



h1{
  
}